.container {
    display: flex;
    justify-content: space-around;
}

/*.container > div {*/
/*  justify-content: center;*/
/*}*/


.results {
    border-radius: 50%;
    scale: 250%;
    background-color: black;
    opacity: 0.7;
    color: gold;
    border-color: gold;
    padding: 10px;
    margin-top: 70px;
}

.top-title {
    font-size: 30px;
}

.main > p {
    display: flex;
    justify-content: center;
}

.top-title > p {
    display: flex;
    justify-content: center;
}